.img-frame{
    border-style: solid;
    border-color: rgb(54, 69, 2);
    border-width: 10px;
}

body{
    background-color: rgb(217, 240, 226)
}

.summer {
    text-transform: uppercase;
    font-size: 20px;
}

.mitr-regular {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3 {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h4 {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5{
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h6{
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mali-regular {
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
  }

p{
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
}

li{
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
}


.button1 {
    position: relative;
    width : 40px;  /* ปรับขนาดปุ่ม */
    height : 40px; /* ปรับขนาดปุ่ม */
    background-color: rgba(158, 183, 168, 0.5); /* สีพื้นหลังของปุ่ม */
    border-radius: 50%; /* ทำให้ปุ่มเป็นวงกลม */
    border: none; /* ไม่มีกรอบ */
    position: absolute; /* ใช้ตำแหน่ง absolute */
    top: 50%; /* จัดให้อยู่กลางแนวตั้ง */
    transform: translateY(-50%); /* ช่วยให้ปุ่มอยู่กลาง */
   
   } /* Green */

carousel-control-prev {
    left: 50px; /* ปรับตำแหน่งปุ่ม Previous */
    
}

carousel-control-next {
    right: 50px; /* ปรับตำแหน่งปุ่ม Next */
    
}

.position-next {
    right: 20%;
    top: 50%;
    bottom: 200px;
    margin-right: -20px;

}

.position-prev {
    left: 20%;
    top: 50%;
    bottom: 200px;
    margin-right: -20px;

}